# PORT NUMBER
PORT = 4000

# DATABASE CREDENTIALS
DBHOST = localhost
DBNAME = hotel_overlook
DBUSER = DBUSER
DBPASSWD = DBPASSWORD

# TOKEN KEYS ############

# TOKEN ACCESS KEY
TOKEN_ACCESS_KEY = myprivatekey # SECRET STRING 
TOKEN_ACCESS_EXPIRATION_SECS = 3600 # NUMBER OF EXPIRATION SECONDS: 1 HOUR

# TOKEN REFRESH KEY
TOKEN_REFRESH_KEY = myprivaterefreshkey # SECRET STRING 
TOKEN_REFRESH_EXPIRATION_SECS = 86400 # NUMBER OF EXPIRATION SECONDS: 1 DAY

